<h1 style="font-size: 24px;">Add funds</h1>

<%= form_with(url: deposits_url, html: { style: 'display: flex; flex-direction: column;' }) do |form| %>
  <%= form.text_field :amount, style: 'padding: 5px; margin-bottom: 10px;' %>
  <%= form.submit "Deposit", style: 'padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;' %>
<% end %>
