<%= form_with(url: transfers_url, html: { style: 'display: flex; flex-direction: column;' }) do |form| %>
  <div style="margin-bottom: 10px;">
    <%= form.label "Destination account", style: 'font-weight: bold;' %>
    <%= form.text_field :destination_account, style: 'padding: 5px;' %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= form.label "Amount to transfer", style: 'font-weight: bold;' %>
    <%= form.text_field :amount, style: 'padding: 5px;' %>
  </div>
  <%= form.submit "Transfer", style: 'padding: 10px 15px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;' %>
<% end %>
