<!DOCTYPE html>
<html>
  <head>
    <title>Transfer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= flash.to_hash %>
      </div>
    <% end %>

    <div style="width: 50%">
    <%= yield %>
    </div>

  </body>
</html>
