<% if user_signed_in? %>
  <h1 style="font-size: 24px;">Welcome <%= current_user.email %></h1>
<% end %>

<h2>Your account: <%= @account_number %></h2>

<h2>Transactions</h2>

<div>
  <table style="border-collapse: collapse; width: 100%;">
    <tr style="border-bottom: 1px solid #ccc;">
      <th style="padding: 8px;">Transaction Id</th>
      <th style="padding: 8px;">Transaction type</th>
      <th style="padding: 8px;">Amount</th>
    </tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <td style="padding: 8px;"><%= transaction.id %></td>
        <td style="padding: 8px;"><%= transaction.transaction_type %></td>
        <td style="padding: 8px;"><%= transaction.amount %></td>
      </tr>
    <% end %>
  </table>
</div>

<div style="margin-top: 10px;">
  Total: <%= @available %>
  <%= link_to "Deposit funds", new_deposit_path, style: 'margin-left: 10px; color: #4CAF50; text-decoration: none; font-weight: bold;' %>
  <%= link_to "Transfer funds", new_transfer_path, style: 'margin-left: 10px; color: #4CAF50; text-decoration: none; font-weight: bold;' %>
</div>

<% if user_signed_in? %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, style: 'padding: 10px 20px; background-color: #ff4d4d; color: white; border: none; border-radius: 4px; cursor: pointer; margin-top: 10px;' %>
<% end %>
